@font-face {
    font-family: "babayka";
    src: url(../font/babayka_font.ttf);
}
:root{
    --milk: #FDEFD0;
    --caramel: #FFD59A;
    --green: #7c9a32;
    --plum: #503D3F;
    --gray: #615756;
    --bord: #e20f0f;
}
*{
    font-family: "babayka";
    box-sizing: border-box;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: var(--plum);
    font-size: 3.4vh;
}
@keyframes logo-rotation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.logo{
    width: 8vh;
    animation: logo-rotation 5s linear infinite;
}
.logotype{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    
}
.logotype>span{
    color: var(--milk);
    text-shadow: 0 0 1vh rgb(32, 32, 32);
}
html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    display: none;
}
header{
    background-color: var(--caramel);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5vh 4vw;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 9vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}
.link{
    text-decoration: none;
    transition: .25s ease-in-out;
    position: relative;
    font-size: 3vh;
}
.link:hover{
    color: var(--bord);
}
main{
    padding: 3vw;
}
h1{
    font-size: 5vh;
    background-color: var(--green);
    color: var(--milk);
    text-align: center;
    border-radius: 2vh;
    padding:1vh 5vw;
    margin: 5vh;
}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding: 12vh 0;
}
.welcome>hr{
    width: 70%;
    border: 0.1vh solid var(--caramel);
    box-shadow: 0 0 4vh var(--gray);
}
.image1{
    width: 40vh;
    height: 100%;
}
.image2{
    width: 20vh;
    height: 30vh;
    position: absolute;
    bottom: 0vh;
    left: 0vw;
}
.image3{
    width: 15vh;
    height: 13vh;
    position: absolute;
    bottom: -3vh;
    left: 9vw;
}
.wel{
    width: 80vw;
    text-align: right;
    text-shadow: 0 0 1vh var(--caramel);
    display: flex;
    gap: 2vh;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    height: 30vh;
}
.wel-1>div>span{
    display: block;
    background-color: var(--green);
    color: var(--milk);
    text-align: center;
    border-radius: 2vh;
    text-shadow: none;
    font-size: 5vh;
}
.wel-2>div>span{
    font-size: 5vh;
}
.wel-2>div>a{
    background-color: var(--bord);
    padding: 1.5vh;
    text-decoration: none;
    border-radius: 1vh;
    width: 40%;
    text-align: center;
    color: var(--milk);
    transition: .2s ease-in-out;
}
.wel-2>div>a:hover{
    transform: scale(1.05); 
}
.wel-2{
    position: relative;
    padding-left: 13vw;
}
.wel-2>div{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    align-items: center;
}
/* о нас */
.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    padding-top: 5vh;
}
.info>p{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-p{
    text-align: left;
}
.middle-p{
    text-align: right;
}
.last-p{
    text-align: center;
    margin-top: 5vh;
    color: var(--milk);
    background-color: var(--green);
    border-radius: 1vh;
    width: 100%;
}
.in-p{
    width: 30vh;
    height: 30vh;
    border-radius: 1vh;
    margin: 2vh;
}
.df{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    width: 100%;
    height: 70vh;
}
.df>img{
    height: 100%;
    width: 28vw;
    border-radius: 1vh;
    animation: galleray 3s linear infinite;
}
/* Заказ инфо */
.order{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
}
.conditions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3vh;
}
.conditions>img{
    width: 35%;
    height: 63vh;
    border-radius: 1vh;
}
.conditions>ul{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 60%;
}
.conditions>ul>span{
    background-color: var(--bord);
    color: var(--milk);
    padding: 1vh 1vw;
    border-radius: 1vh;
    text-align: center;
}
.conditions>ul>li{
    transition: .2s ease-in-out;
}
.conditions>ul>li:hover{
    text-shadow: 0 0 1vh var(--plum);
}
/* Карты */
.map{
    padding: 5vh 0;
}
.map>span{
    font-size: 2vh;
    color: var(--gray);
}
.map>iframe{
    border-radius: 2vh;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.315);
}
/* Товары */
.goods{
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    align-items: center;
    justify-content: center;
}
.item{
    box-shadow: 0 0 1vh var(--gray);
    width: 30vw;
    height: 30vw;
    background-size: 100% auto;
    border-radius: 1vh;
    background-position: center;
    position: relative;
    transition: .3s ease-in-out;
}
.item:hover{
    background-size: 110% auto;
}
.item>span{
    color: #fff;
    padding: 1vh;
    font-size: 2.5vh;
    height: 5vh;
    display: flex;
    align-items: center;
    position: absolute;
}
.namegood{
    bottom: 7%;
    border-radius: 0 1vh 1vh 0;
    background-color: rgb(0, 102, 255);
}
.price{
    right: 0;
    top: 7%;
    border-radius: 1vh 0 0 1vh;
    background-color: var(--green);
}
.item1{background-image: url(../img/img10.jpg);}
.item2{background-image: url(../img/img5.jpg);}
.item3{background-image: url(../img/img13.jpg);}
.item4{background-image: url(../img/img14.jpg);}
.item5{background-image: url(../img/img15.jpg);}
.item6{background-image: url(../img/img16.jpg);}
/* Футер */
footer{
    background-color: var(--caramel);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 2vh 4vw;
    gap: 2vh;
}
.f1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.f1>div{
    display: flex;gap: 2vw;
}
.f2{
    color: var(--gray);
    font-weight: lighter;
    font-size: 2.5vh;
}