@font-face {
    font-family: "babayka";
    src: url(../font/babayka_font.ttf);
}
:root{
    --milk: #FDEFD0;
    --caramel: #FFD59A;
    --green: #7c9a32;
    --plum: #503D3F;
    --gray: #615756;
    --bord: #e20f0f;
}
*{
    font-family: "babayka";
    box-sizing: border-box;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: var(--plum);
    font-size: 20px;
}
@keyframes logo-rotation {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.logo{
    width: 8vh;
    animation: logo-rotation 5s linear infinite;
}
header{
    background-color: var(--caramel);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5vh 4vw;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 9vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}
.link{
    text-decoration: none;
    transition: .25s ease-in-out;
    position: relative;
    font-size: 23px;
}
.link:hover{
    color: var(--bord);
}
main{
    padding: 3vw;
}
h1{
    font-size: 5vh;
    background-color: var(--green);
    color: var(--milk);
    text-align: center;
    border-radius: 2vh;
    width: 30%;
    
}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding: 15vh 0;
}
.welcome>hr{
    width: 70%;
    border: 0.1vh solid var(--caramel);
    box-shadow: 0 0 4vh var(--gray);
}
.image1{
    width: 40vh;
    height: 100%;
}
.image2{
    width: 20vh;
    height: 30vh;
    position: absolute;
    bottom: 0vh;
    left: 0vw;
}
.image3{
    width: 15vh;
    height: 13vh;
    position: absolute;
    bottom: -3vh;
    left: 9vw;
}
.wel{
    width: 80vw;
    text-align: right;
    text-shadow: 0 0 1vh var(--caramel);
    display: flex;
    gap: 2vh;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    height: 30vh;
}
.wel-1>div>span{
    display: block;
    background-color: var(--green);
    color: var(--milk);
    text-align: center;
    border-radius: 2vh;
    text-shadow: none;
    font-size: 5vh;
}
.wel-2>div>span{
    font-size: 5vh;
}
.wel-2>div>a{
    background-color: var(--bord);
    padding: 1.5vh;
    text-decoration: none;
    border-radius: 1vh;
    width: 40%;
    text-align: center;
    color: var(--milk);
    transition: .2s ease-in-out;
}
.wel-2>div>a:hover{
    transform: scale(1.05); 
}
.wel-2{
    position: relative;
    padding-left: 13vw;
}
.wel-2>div{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    align-items: center;
}
/* о нас */
.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}
.info>p{
    width: 100%;
}
.info>p:first-child{
    text-align: left;
}
.middle-p{
    text-align: right;
}
.info>p:last-child{
    text-align: center;
}